@import "tailwindcss";

@theme {
  --color-brand-background: #000711;
  --color-brand-secondary: #01357B;
  --color-brand-accent: #066BF3;
  --color-brand-text: #FFFFFF;
}

:root {
  --brand-background: #000711;
  --brand-secondary: #01357B;
  --brand-accent: #056cf2;
  --brand-text: #FFFFFF;
}

body {
  background-color: var(--brand-background);
  color: var(--brand-text);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--brand-background);
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  border: 3px solid var(--brand-background);
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--brand-accent);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.1) var(--brand-background);
}